/build/
/build/release-personnelle/
/bios/amiga/*.rom
/bios/amiga/*.bin
/bios/amiga/kick*
!/bios/amiga/.gitkeep
/config/retroarch/system/amiga/*.rom
/config/retroarch/system/amiga/*.bin
/config/retroarch/system/amiga/kick*
!/config/retroarch/system/amiga/.gitkeep
/roms/amiga500/*.zip
/roms/amiga500/*.adf
/roms/amiga500/*.ipf
/roms/amiga500/*.dms
/roms/amiga500/*.hdf
!/roms/amiga500/.gitkeep
/roms/amiga1200/*.zip
/roms/amiga1200/*.adf
/roms/amiga1200/*.ipf
/roms/amiga1200/*.dms
/roms/amiga1200/*.hdf
!/roms/amiga1200/.gitkeep
/docs/roms-amiga500.sha256
/docs/roms-amiga1200.sha256

ROADMAP.md
